<div>
    <div class="page-header">
        <h1 class="header-micuenta">
            Mi Saldo: ${{usuarioLogueado.balance}}
        </h1>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="list-group">
                <p class="list-group-item list-group-item-action active">Movimientos recientes
                </p>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col">Fecha</div>
                        <div class="col">Monto</div>
                        <div class="col">CVU Cuenta Destino</div>
                        <div class="col">Descripcion</div>
                        <div class="col">Moneda</div>
                        <div class="col">Tipo Transacción</div>
                    </div>
                </div>
                <div *ngFor="let operacion of operaciones" class="list-group-item">
                    <div class="row">
                        <div class="col">{{operacion.fecha_ocurrencia | date:'dd/MM/yyyy'}}</div>
                        <div class="col">{{operacion.monto}}</div>
                        <div class="col">{{operacion.CVU_cuenta_destino}}</div>
                        <div class="col">{{operacion.descripcion}}</div>
                        <div class="col">{{operacion.moneda.nombre}}</div>
                        <div class="col">{{operacion.operacionTipo.nombre}}</div>
                    </div>
                </div>
                
            </div>
        </div>

        
        <button type="button" (click)="openDialogMostrarMsg(0)"
            class="btn btn-dark m-3 btn-lg btn-block">RECARGAR SALDO</button>
        <button type="button" (click)="openDialogMostrarMsg(1)"
            class="btn btn-dark m-3 btn-lg btn-block">RETIRAR SALDO</button>
        <br>

        <!-- FIN CUERPO PÁGINA -->

    </div>
</div>