<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-recargarsaldo">Recargar Saldo</h5>
        <button type="button" class="close" (click)="onNoClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{mensaje}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
        (click)="onNoClick()">Entendido</button>

    </div>
</div>