<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="profile-header-container">
                <div class="profile-header-img">
                    <img class="img-circle" src="../../assets/Imagenes/perfil-user.jpg" />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label">{{cuentaLogueada.usuario.usuario}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li [class.active]="rlaMC.isActive"><a [routerLink]="['/Inicio/MiCuenta']"routerLinkActive #rlaMC="routerLinkActive" >Mi Cuenta</a></li>
            <li [class.active]="rlaSU.isActive">
                <!-- Link with dropdown items -->
                <a [routerLink]="['/Inicio/SaldoUsuario']" routerLinkActive #rlaSU="routerLinkActive">Mi Saldo</a>
            </li>

            <li> <a data-toggle="collapse" aria-expanded="false">Transferencias</a></li>
            <ul class="collapse show list-unstyled" id="homeSubmenu">
                <li [class.active]="rlaTC.isActive"><a [routerLink]="['/Inicio/TransferenciasCuentas']"  routerLinkActive #rlaTC="routerLinkActive">Transferir a cuenta</a></li>
                <li><a >Servicios</a></li>
            </ul>
            <li><a href="../Inversiones/Inversiones.html">Inversiones</a></li>
        </ul>

        <img class="logo mb-2" src="../../assets/Imagenes/logo1-removebg.png" alt="logo">
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--Inicio del cuerpo de la pagina-->
                <div fxFlex>
                    <router-outlet></router-outlet>
                </div>
            </div>

        </nav>
    </div>
</div>