
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sticky-sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #575757;
  color: #fff;
  transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
  height: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #112632, #112632, #112632, #112632, #112632, #103140, #0b3d4e, #004a5b, #006775, #008686, #00a58d, #00c389);

}

#sticky-sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #112632;
}

#sticky-sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sticky-sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sticky-sidebar ul li li {
  padding-left: 10px;
}
#sticky-sidebar ul.components li a:hover {
  color: #112632;
  background: #fff;
  text-decoration: none;
}

#homeSubmenu li a:hover {
  color: #112632 !important;
  background-color: #fff !important;
    text-decoration: none;
}

#sticky-sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #575757 !important;
  background: #fff;
}

.logo {
  height: auto;
  width: -moz-available;
  position: absolute;
  bottom: 0;
}


.header-transferencia{
  padding: 5px;
}


/**
* Profile image component
*/
.profile-header-container{
  margin: 0 auto;
  text-align: center;
}

.profile-header-img {
  padding: 54px;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #00c389;
  border-radius: 50%;
}

.profile-header {
  margin-top: 43px;
}

/**
* Ranking component
*/
.rank-label-container {
  margin-top: -19px;
  /* z-index: 1000; */
  text-align: center;
}

.label.label-default.rank-label {
  background-color: rgb(0, 195, 137);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #112632 !important;
  border-color: #112632 !important;
}
.btn-dark {
  color: #fff;
  background-color: #112632 !important;
  border-color: #112632 !important;
}